[submodule "deps/llama.cpp"]
	path = deps/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "deps/argparse"]
	path = deps/argparse
	url = https://github.com/cofyc/argparse.git
[submodule "deps/termcolor-c"]
	path = deps/termcolor-c
	url = https://github.com/ararslan/termcolor-c.git
[submodule "deps/sokol"]
	path = deps/sokol
	url = https://github.com/floooh/sokol.git
