[submodule "deps/llama.cpp"]
	path = deps/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
	branch = windows-static-cudart
[submodule "deps/argparse"]
	path = deps/argparse
	url = https://github.com/cofyc/argparse.git
[submodule "deps/sokol"]
	path = deps/sokol
	url = https://github.com/floooh/sokol.git
[submodule "deps/expr"]
	path = deps/expr
	url = https://github.com/zserge/expr.git
